<div class="posts">
    <a href="#!/" class="btn btn-warning">
      <span class="glyphicon glyphicon-chevron-left"></span> 
      All posts
    </a>

    <article class="post">
      <h2>{{post.title}}</h2>

              <p class="post-meta">
                  By <a href="#" class="post-author">{{post.author}}</a> under <a class="post-category post-category-js" href="#" ng-repeat="tag in post.tags">{{tag.title}}</a>
                  <br>
                  <p>Created on {{post.created}}</p>
              </p>


        <div class="post-description">
            <div markdown link="{{post.file}}"></div>
        </div>
    </article>
</div>
