/* Hide for mobile, show later */


.sidebar {
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    padding-top: 2em;
    position: fixed; 
    display: block;
    overflow-x: hidden;
    overflow-y: auto;
    background-color: rgb(207, 194, 145);
    border-right: 0.2em solid rgb(255, 246, 197);
}
.nav-sidebar {
  margin-top: 2em;
  margin-right: -2em;
  margin-bottom: 2em;
  margin-left: -1.5em;
}
.nav-sidebar > li > a {
  padding-right: 3em;
  padding-left: 3em;
  color: rgb(105, 93, 70);
}
.nav-sidebar > li > a:hover,
.nav-sidebar > li > a:focus {
  color: rgb(105, 93, 70);
  background-color: rgb(255, 246, 197);
}


.main {
  margin-left: 15em;
}
@media (min-width: 768px) {
  .main {
    padding-right: 4em;
    padding-left: 4em;
  }
}


.posts-list{
  list-style: none;
  margin-left: -2.3em;
}

.posts-list li {
  display: block;
  border-bottom: 0.1em solid rgb(105, 93, 70); 
}

.posts-list li a {
   color: rgb(105, 93, 70);
}

.posts-list li a:hover,
.posts-list li a:focus {
  text-decoration: none;
  color: rgb(207, 194, 145);
  /* border-bottom: 0.1em solid rgb(207, 194, 145); */
}

header hgroup {
  display: block;
  padding-bottom: 5em;
  color: rgb(105, 93, 70);
}